@import "tailwindcss";

@layer base {
    @font-face {
        font-family: 'helvetica-light';
        src: url('/fonts/HelveticaNeueLight.otf') format("opentype");
    }

    @font-face {
        font-family: 'helvetica-medium';
        src: url('/fonts/HelveticaNeueMedium.otf') format("opentype");
    }

    @font-face {
        font-family: 'helvetica-thin';
        src: url('/fonts/HelveticaNeueThin.otf') format("opentype");
    }

    @font-face {
        font-family: 'lemonmilk';
        src: url('/fonts/LEMONMILK-Regular.otf') format("opentype");
    }

    @font-face {
        font-family: 'chromeslab';
        src: url('/fonts/chromeslab.ttf') format("truetype");
    }
}

@layer components {
    .underline-animation {
        @apply relative inline-block;
    }

    .underline-animation::after {
        @apply absolute content-[''] h-[1px] w-full left-0 bottom-[-5px] bg-black scale-x-0 origin-bottom-left transition-transform duration-300 ease-in-out
    }

    .underline-animation:hover::after {
        @apply scale-x-100 origin-bottom-left
    }
}

@theme {
    --font-helvetica-light: 'helvetica-light', sans-serif;
    --font-helvetica-medium: 'helvetica-medium', sans-serif;
    --font-helvetica-thin: 'helvetica-thin', sans-serif;
    --font-lemonmilk: 'lemonmilk', sans-serif;
    --font-family-chromeslab: 'chromeslab', 'Georgia', serif;
}

html {
    scroll-behavior: smooth;
}

* {
    scroll-behavior: smooth;
}